@media (max-width: 991px) {
	
}
@media (max-width: 767px) {
    
}
@media (max-width: 479px) {
	.header-bg-img {
        height: 100%;
        
	}
	.header-wraper {
		justify-content: center;
        flex-direction: column;
	}
	.logo {
        padding-left: 150px;
        padding-bottom: 50px;
	}
	.nav-box {
	    
	}
	.navi {
		display: none;
	}
	.header-icons {
		
	}
	.banner-texe {

	}
	.banner-h2 {
		display: none;
	}
	.banner-h4 {
		display: none;
	}
	.botton {
		display: none;
	}
	.section-bg-1 {
        width: 100%;
	}
	.section-container {
         
	}
	.section-h2 {

	}
	.section-1-h5 {
         display: none;
	}
	.section-box {
        display: table;
        clear: both;
	}
	.icon-box {
		float: left;
        width: 30%;
        padding: 25px;
	}
	.section-bg-2 {
         width: 100%;
         height: 100%;
         padding-top: 20px;
	}
	.section-container-2 {
         display: table;
	}
	.section-img {
		width: 100%;
		height: 100%;
	}
	.h3-box {
		padding: 20px;
		display: table;
	}
	.section-h3 {
        
	}
	.section-2-h5 {
       
	}
}