@media (max-width: 991px) {
	.header-bg-img {
        height: 600px; 
	}
	.header-wraper {
		flex-direction: column-reverse;
	}
	.logo {
		
       padding-left: 110px;
	}
	.nav-box {
		padding-left: 30px;
	    justify-content: center;
	}
	.navi {
		width: 100%;
	}
	.nav-ul {
		width: 100%;
	}
	.header-icons {
		width: 400px;	
	}
	.banner-text {
       padding-top: 195px;
       padding-left: 340px;
	}
	.banner-h4 {
		width: 60%;
		margin-left: 30px;
	}
	.botton {
		margin-left: 370px;
	}
	.section-bg-1 {
        width: 100%;
	}
	.section-box {
        display: table;
        padding-left: 100px;
        margin-top: 50px;
	}
	.icon-box {
		float: left;
        width: 30%;
        padding: 25px;
	}
	.section-bg-2 {
         width: 100%;
         height: 100%;
         padding-top: 20px;
	}
	.section-img {
		width: 50%;
		height: 50%;
	}
	.h3-box {
		padding: 20px;
		display: table;
	}
}
@media (max-width: 767px) {
    .header-bg-img {
        height: 100%;
        padding-bottom: 10px;
	}
	.logo {
		padding-top: 5px;
        padding-left: 80px;
	}
	.nav-box {
	    margin-left: 180px;
	}
	.navi {
		display: none;
	}
	.banner-text {
		padding-top: 40%;
		padding-left: 10%;
	}
	.banner-h4 {
		width: 60%;
		margin-left: 5px;
	}
	.botton {
		margin-left: 80px;
		margin-bottom: 10px;
	}
	.section-bg-1 {
        width: 100%;
        flex-direction: column-reverse;
	}
	.section-box {
        display: table;
        clear: both;
	}
	.icon-box {
		float: left;
        width: 30%;
        padding: 25px;
	}
	.section-bg-2 {
         width: 100%;
         height: 100%;
         padding-top: 20px;
	}
	.section-container-2 {
         flex-direction: column-reverse;
	}
	.section-img {
		width: 100%;
		height: 100%;
	}
	.h3-box {
		padding-left: 70px;
		display: table;
	}
}
@media (max-width: 479px) {
	.header-bg-img {
        height: 100%;  
	}
	.header-wraper {
		justify-content: center;
        flex-direction: column;
	}
	.logo {
        padding-left: 150px;
        padding-bottom: 50px;
	}
	.nav-box {
	    margin-left: 0;
	}
	.navi {
		display: none;
	}
	.banner-h2 {
		display: none;
	}
	.banner-h4 {
		display: none;
	}
	.botton {
		display: none;
	}
	.section-bg-1 {
        width: 100%;
	}
	.section-1-h5 {
         display: none;
	}
	.section-box {
        display: table;
        clear: both;
        padding-left: 40px;
	}
	.icon-box {
		float: left;
        width: 30%;
        padding: 25px;
	}
	.section-bg-2 {
         width: 100%;
         height: 100%;
         padding-top: 20px;
	}
	.section-container-2 {
        flex-direction: column-reverse;
	}
	.section-img {
		width: 100%;
		height: 100%;
	}
	.h3-box {
		padding-left: 70px;
		display: table;
	}
	.section-h3 {
        font-size: 30px;
	}
	
}