/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*header*/
.header-bg-img {
	background-image: url('../img/back-img.jpg');
	max-width: 1920px;
	width: 100%;
	height: 1080px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.header-wraper {
	max-width: 1700px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
}
.logo {
	padding-top: 40px;
}
.nav-box {
	max-width: 1028px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.navi {
	max-width: 560px;
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;   
}
.nav-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 43px;
}
.nav-li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 37px;  
}
.text-li {
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Montserrat-Light';
}
/*header-icon-box*/
.header-icons {
	max-width: 428px;
	width: 100%;
	height: 109px;
	background-color: #A80E0E;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;		
    -webkit-box-pack: start;		
        -ms-flex-pack: start;		
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.search,
.user,
.shopping-bag {
	max-width: 32px;
	width: 100%;
	height: 32px;
	color: #FFFFFF;
	display: inline-block;
	background-repeat: no-repeat; 
	margin-left: 66px;  
}
/*header-banner*/
.banner-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: justify;
	padding-top: 375px;
	padding-left: 277px;
}
.banner-h2 {
	font-size: 96px;
	color: #FFFFFF;
	font-family: 'Avengeance Mightiest Avenger';
}
.banner-h4 {
	margin-top: 51px;
	width: 375px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Montserrat-Bold';
	line-height: 1.3;
}
.botton {
    max-width: 255px;
    width: 100%;
    height: 68px;
    background-color: #FFAA00;
    margin-top: 90px;
    margin-left: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 90px;
}
.banner-h3 {
	font-size: 27px;
    color: #A80E0E;
    font-family: 'Avengeance Mightiest Avenger';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.arrow-right {
    color: #A80E0E;
	width: 22px;
	height: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
}
/*section*/
.section-bg-1 {
	height: 852px;
	background-color: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
}
.section-container {		
    -webkit-box-pack: center;		
        -ms-flex-pack: center;		
            justify-content: center;  
}
.section-h2 {
	font-size: 50px;
	color: #A80E0E;
	font-family: 'Avengeance Mightiest Avenger';
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 45px; 	
}
.section-1-h5 {
	font-size: 20px;
	color: #382E36;
	font-family: 'Montserrat-Light';
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
}
.section-box {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 102px;	
}
.icon-box {
	
	height: 236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;  
    -webkit-transition: all 0.3s linear 0.3s;  
    -o-transition: all 0.3s linear 0.3s;  
    transition: all 0.3s linear 0.3s; 
}
.icon-box:hover {
	border-radius: 5px;
    -webkit-box-shadow: 0 15px 15px #000000;
            box-shadow: 0 15px 15px #000000;
    
}
.image {
	
}
.box-p {
	font-size: 18px;
	font-family: 'Montserrat-Regular';
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
}
/*section-2*/
.section-bg-2 {
	max-width: 1920px;
	width: 100%;
	height: 852px;
	background-color: #FFAA00;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;  
}
.section-container-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;  
}
.section-img {
	max-width: 809px;
	width: 100%;
	height: 809px;
}
.h3-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
}
.section-h3 {
	max-width: 438px;
	width: 100%;
    font-size: 47px;
    color: #FFFFFF;
    font-family: 'Avengeance Mightiest Avenger'; 
    margin-bottom: 64.5px;  
}
.section-2-h5 {
	max-width: 449px;
	width: 100%;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular'; 
}


